<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false"> 

    <!-- ================================ 文件日志(同步)输出============================ -->
    <appender name="APP_LOG" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/app.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="15000KB" />
        <param name="MaxBackupIndex" value="100"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%x] %t [%-5p] %l - %m%n" />
        </layout>
    </appender>
    <!-- 控制台日志，开发阶段使用-->  
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%x] %t [%-5p] %l - %m%n" />
        </layout>
    </appender>
    <!-- ================================下面是记录日志包(package)路径====================== -->
    <category name="com.opensymphony.xwork2">
     	<param name="additivity" value="false"/>
        <priority value="ERROR"/>
        <appender-ref ref="APP_LOG" />
        <appender-ref ref="CONSOLE" />
    </category>
    <category name="org.apache.struts2">
        <param name="additivity" value="false"/>
        <priority value="ERROR"/>
        <appender-ref ref="APP_LOG" />
        <appender-ref ref="CONSOLE" />
    </category>
    <category name="org.springframework">
        <param name="additivity" value="false"/>
        <priority value="ERROR" />
        <appender-ref ref="APP_LOG" />
        <appender-ref ref="CONSOLE" />
    </category>
    <category name="org.hibernate">
        <param name="additivity" value="false"/>
        <priority value="ERROR" />
        <appender-ref ref="APP_LOG" />
        <appender-ref ref="CONSOLE" />
    </category>
	
    <category name="netbank.common">
        <param name="additivity" value="false"/>
        <priority value="DEBUG" />
        <appender-ref ref="APP_LOG" />
        <appender-ref ref="CONSOLE" />
    </category>
    <category name="com.newland">
        <param name="additivity" value="false"/>
        <priority value="INFO" />
        <appender-ref ref="APP_LOG" />
        <appender-ref ref="CONSOLE" />
    </category>
	
    <root>
        <priority value="DEBUG" />
        <appender-ref ref="APP_LOG" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration> 